body {
  background-color: #CDCDCD;

}

.navbar {
  display: none;
}

.gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 15px;

    .raft {
      background: url("../img/raft.jpg") bottom center no-repeat;
      @include galleryCard;
        a img{ @include galleryIcon; }
    }

    .basecamp {
      background: url("../img/basecamp.jpg") bottom center no-repeat;
      @include galleryCard;
      a img{ @include galleryIcon; }
    }
    .backpacking {
      background: url("../img/backpacking.jpg") bottom center no-repeat;
      @include galleryCard;
      a img{ @include galleryIcon; }
    }
    .canoe {
      background: url("../img/canoe.jpg") bottom center no-repeat;
      @include galleryCard;
      a img{ @include galleryIcon; }
    }
    .photo {
      background: url("../img/photo.jpg") bottom center no-repeat;
      @include galleryCard;
      a img{ @include galleryIcon; }
    }
    .camp {
      background: url("../img/camp.jpg") bottom center no-repeat;
      @include galleryCard;
      a img{ @include galleryIcon; }
    }



}
