body {
  background-color: #CDCDCD;

  @media ($break2) {
    background:#4B4B4B
  }
}

.navbar {
  display: none;
}

.medNav {
  display: none;

    @media ($break2) {
      display: block;
      margin-top: 8px;
      margin-bottom: -8px;
      font-family: $font;
      height: 140px;
      padding: 30px;
    }

      .more {
        border-left: 1px solid black;
      }

      .search {
        float: right;
        margin-right: 50px;
      }

      a {
        color: white;
        text-decoration: none;

          p {
            display: inline;
            padding: 30px;
          }
      }

      .dropdown {
        display: none;
      }

      .blackBar {
        background-color: black;
        height: 2px;
        display: block;
        width: 98.87vw;
        margin-left: -40px;
        margin-top: 27px;
      }
}
