.logo {
  p {color: white;
     font-size: 1.25em;
     position: absolute;
     left: 10px;
     font-family: $headFont;
     top: -3px;
     left: 45px;

       @media ($break2) {
         padding-top: 27px;
       }
    }

  img {
    position: absolute;
    width: 25px;
    top: 15px;
    left: 15px;

    @media ($break2) {
      padding-top: 27px;
    }
  }
}

.hero {
  background: url("../img/hero.jpg") top center no-repeat;
  background-size: cover;
  margin: -8px;
  color: white;
  font-family: $font;
  height: 500px;

  @media ($break2) {
    background-size: cover;
    height: 100vh;
    border-bottom: 1px solid black;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 120px;

      @media ($break2) {
        padding-top: 250px;
      }
  }

  h2 {
    text-align: center;
    font-family: $headFont;
    margin: 0;
    margin-top: -40px;
    font-size: 50px;
      span {
        font-family: $font;
        font-size: 12px;

        @media ($break1) {
          font-size: 18px;
          margin:0;
        }
      }

      @media ($break1) {
        font-size: 70px;
        padding-top: -500px;
      }

      @media ($break2) {
        font-size: 100px;
      }
  }

  a {
    display: none;

      @media ($break1) {
        width: 175px;
        height: 60px;
        background-color: $orangeBar;
        text-decoration: none;
        color: white;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

      @media ($break2) {
        margin-top: 500px;
      }

      p {
        text-align: center;
        padding-top: 20px;
      }
    }
}
