@mixin galleryCard {
  background-size: cover;
  height: 250px;
  margin: 2% 5%;
  margin-top: 20px;
  border-radius: 3px;

    @media ($break1) {
      margin: 0;
      border-radius: none;
      height: 425px;
    }
}

@mixin galleryIcon {
  background-color: rgba(52,52,51, 0.8);
  border-radius: 50%;
  border: 15px solid rgba(52,52,51,0);
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;

    @media ($break1) {
      border: 25px solid rgba(52,52,51,0);
      width: 90px;
      margin-top: 160px;
    }
}

@mixin subGallery {
  width: 50%;
  flex-direction: row;
}

@mixin iconTransition {
  transition: all .3s ease-in-out;
}

@mixin iconScale {
  img {
    transform:scale(1.3);
  }
}
